/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

/* COLORS */
.copy-colors-from-here {
  /* BLUE: */ background: rgba(63,85,136,1);
  /* BLUE 2(lighter): */ background: rgba(78,96,136,1);
  /* GOLD */ background: rgba(255,198,0,1);



  /* OLD COLORS */
  /* BLUE: */ background: rgba(0,176,218,1);
  /* GREEN 1: */ background: rgba(185,211,182,1);
  /* GREEN 2: */ background: rgba(157,173,51,1);
  /* GRAY 2: */ background: rgba(83,98,111,1);

}

@font-face {
  font-family: 'Fira Sans';
  src: url('./FiraSans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

#mypanel {
  color: black!important;
}

#tos-popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(78,96,136,1);
  z-index: 999999999999999;
}

#tos-popup p {
  text-align: center;
  font-size: 14px;
}

.tos-box {
  text-align: center;
  color: black;
  background: rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.75);
  width: 90%;
  margin-left: 5%;
  height: auto;
  padding: 6px;
}

#login-view {
  /* BLUE: */ background: rgba(63,85,136,1);
  /* background: rgba(78,96,136,1); */
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;

}

#login-view h1 {
  text-align: center;
}

#login-view input {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 2vh;
  height: 45px;
  font-size: 22px;
  line-height: 42px;
  background: rgba(255,255,255,0.5);
  border: none;
  border-bottom: 2px solid rgba(255,198,0,0.5);
}
#login-view input:focus {
  background: rgba(255,255,255,0.75);
  border: none;
  border-bottom: 2px solid rgba(255,198,0,1);
  transition: all 0.2s;
}


#login-view button {
  width: 50vw;
  margin-left: 25vw;
  height: 40px;
  font-size: 18px;
  line-height: 34px;
  color: white;
  margin-bottom: 1vh;
}

.login-info {
  color: rgba(255,255,255,0.75);
  font-size: 12px;
  margin-bottom: 0px;
  padding-left: 5vw;
}

.instructions {
  text-align: center;
  padding-top: 5vh;
  width: 100vw;
  margin-bottom: 4vh;
  font-size: 16px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

#news-view {

}

.body-block {
  border-top: 1px solid rgba(255,255,255,0.1);
  /* border-bottom: 1px solid rgba(0,0,0,0.75); */
  background: rgba(63,85,136,1);
  height: 83vh;
  overflow-y: auto;
  width: 100%;
}

.news-tab {
  float: left;
  text-align: center;
  height: 12vh;
  border-bottom: .5vh solid rgba(255,198,0,1);
}

#news-block {
  float: left;
  position: relative;
  margin-top: 2vh;
  width: 100%;
  height: auto;
}
#todo-block {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
}


.todo-item {
  background: rgba(136, 78, 78, 1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.75);
  float: left;
  width: 100%;
}

.todo-img {
  float: left;
  width: 14%;
  margin-left: 1%;
  height: 30px;
  position: relative;
}

.todo-text {
  float: left;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  margin: 0px;
}
.todo-left {
  /* background: white; */
  padding-right: 5%;
  width: 60%;
  padding-bottom: 0px;
  /* line-height: 20px;
  max-height: 50px; */
}

.todo-right {
  width: 25%;
  padding-right: 5%;
  text-align: center;
}
#news-block {
}
.news-item {
  background: rgba(78,96,136,1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.75);
  float: left;
  width: 100%;
  /* line-height: 20px; */
  height: auto;
}
.news-text {
  width: 85%;
  float: left;
  height: auto;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  margin: 0px;
}


#fbo-view {

}

.second-border {
  border: 1px solid rgba(255,255,255,0.1);
  position: relative;
  /* border: 1px solid rgba(255,255,255,1); */
  width: 100%;
  height: 100%;
  /* background: red;
  position: absolute;
  left: 0px;
  top: 0px; */
  border-radius: inherit;
}

.fbo-item {
  width: 100%;
  height: 32vh;
  position: relative;
  background: rgba(78,96,136,1);
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 2px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  margin-bottom: calc(2vh + 10px);
}

.fbo-item-title {
  float: left;
  text-align: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 8vh;
  overflow: hidden;
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

.fbo-item-title:active {
  color: rgba(0,176,218,1)!important;
}

.fbo-item-title-bg {
  background: rgba(78,96,136,0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  height: 100%;
  width: 100%;
}

.fbo-item-title-text {
  position: relative;
  z-index: 5;
}

.fbo-item-title-img-left {
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 0px;
  height: 100%;
  width: auto;
}

.fbo-item-comments {
  float: left;
  width: 100%;
  height: calc(15vh - 4px);
  overflow-y: auto;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

.fbo-item-points {
  position: absolute;
  text-align: center;
  height: 22px;
  width: 22px;
  left: -11px;
  top: -11px;
  line-height: 21px;
  padding-right: 2px;
  padding-top: 0px;
  font-weight: bold;
  font-size: 15px;
  z-index: 6;
  background: white;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 90%;
}

.fbo-item-origin {
  position: absolute;
  background: white;
  height: 20px;
  line-height: 16px;
  padding: 2px 4px 2px 4px;
  width: auto;
  z-index: 9;
  color: black;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.75);
  right: -10px;
  top: -15px;
}

.fbo-item-points-dropdown {
  position: absolute;
  text-align: center;
  min-height: 20px;
  min-width: 50px;
  overflow-y: auto;
  left: 2px;
  top: 8px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  z-index: 99;
}

.fbo-item-points-dropdown-item {
  /* ok i know these names are getting ridiculous but i have kind of a naming convention so what can you do */
  height: 20px;
  max-width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 20px;
  padding: 0px 5px 0px 5px;
  z-index: 100;
  background: white;
}

.fbo-item-buttons {
  float: left;
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.1);
  /* border-bottom: 1px solid rgba(0,0,0,0.75); */
  width: 100%;
  height: 9vh;
}

.medium-circle {
  color: black;
  background: white;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 90%;
  height: 7vh;
  width: 7vh;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: calc(1vh - 2px);
}
.fbo-item-no-button {
  line-height: 7vh;
  font-size: 7vh;
  left: 1vw;
}
.fbo-item-time-button {
  padding-top: 1vh;
  width: 30vw;
  height: 7vh;
  text-align: center;
  line-height: 6.2vh;
  z-index: 2;
  position: absolute;
  font-size: 2vh;
  left: 50%;
  transform: translateX(-50%);
}
.fbo-item-yes-button {
  line-height: 6.5vh;
  font-size: 6vh;
  right: 1vw;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a {
  color: rgb(0, 134, 255);
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  /* background-color:#E4E4E4;
  background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
  background-image:-webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #A7A7A7),
  color-stop(0.51, #E4E4E4)
  );
  background-attachment:fixed; */
  font-family: 'Fira Sans', sans-serif;
  font-size:12px;
  color: white;
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
}

button {
  /* background: rgba(255,198,0,1); */
  background: rgba(78,96,136,1);
  /* background: rgba(63,85,136,1); */
  font-size: 2vh;
  font-weight: bold;
  line-height: 5vh;
  height: 6vh;
}

/* Portrait layout (default) */
.app {
  background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
  position:absolute;             /* position in the center of the screen */
  left:50%;
  top:50%;
  height:50px;                   /* text area height */
  width:225px;                   /* text area width */
  text-align:center;
  padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
  /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
    margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}

h1 {
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

/* #main-view {
  position: relative;
} */

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.waiting {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

.inactive {
  display: none;
}

.topbar {
  position: relative;
  width: 100%;
  color: rgba(20,20,20,1)!important;
  background: rgba(78,96,136,1);
  height: 8vh;
  z-index: 99;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
}

.circle {
  background: white;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 90%;
  height: 7vh;
  width: 7vh;
  text-align: center;
  line-height: 7vh;
  font-size: 7vh;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}

.circle-inside {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-left: 1px;
  margin-top: 1px;
  border: 1px solid red; */
}

.circle-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  object-fit: cover;
  min-width: 7vh;
  min-height: 7vh;
  height: 100%;
}
.circle-img-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  object-fit: cover;
  min-width: 80%;
  min-height: 80%;
  height: 80%;
}

#sidebar-detector {
  /* pointer-events: none; */
  position: fixed;
  left: 0px;
  top: 0px;
  height: 91vh;
  width: 5vw;
  /* background: red; */
  z-index: 999999;
}


#profile-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 60vw;
  height: 100vh;
  background: rgba(78,96,136,1);
  z-index: 9999;
  box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.25);
}

#hamburger-menu {
  position: fixed;
  overflow-y: hidden; /* Disable horizontal scroll */
  bottom: -300px;
  right: 0px;
  height: 140px;
  z-index: 9;
  width: 100vw;
  background: rgba(78,96,136,1);
  box-shadow: 0px -1px 3px 1px rgba(0,0,0,0.25);
}
@keyframes hamburger-in {
  0%   {bottom: -140px}
  100% {bottom: 9vh}
}
@keyframes hamburger-out {
  0%   {bottom: 9vh}
  100% {bottom: -140px}
}

.hamburger-in {
  animation-name: hamburger-in;
  animation-duration: 0.5s;
  bottom: 9vh!important;
}
.hamburger-out {
  animation-name: hamburger-out;
  animation-duration: 0.5s;
  bottom: -300px!important;
}

#profile-dropdown {
  position: absolute;
  overflow-x: hidden; /* Disable horizontal scroll */
  top: 0px
  left: -60vw;
  width: 60vw;
  height: 100vh;
  background: rgba(78,96,136,1);
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  z-index: 999;
}

@keyframes dropdown-in {
  0%   {left: -60vw}
  100% {left: 0px}
}
.dropdown-in {
  animation-name: dropdown-in;
  animation-duration: 0.5s;
  left: 0px!important;
}
@keyframes dropdown-out {
  0%   {left: 0px}
  100% {left: -60vw}
}
.dropdown-out {
  animation-name: dropdown-out;
  animation-duration: 0.5s;
  left: -60vw!important;
}

.profile-dropdown-item {
  height: 50px;
  width: 100%;
  font-size: 16px;
  background: rgba(78,96,136,1);
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

.profile-dropdown-item:active {
  filter: brightness(95%);
}

#profile-circle:active {
  filter: brightness(90%);
}

.profile-dropdown h1 {
  font-size: 3vh;
  line-height: 7vh;
}

#fbo-title {
  color: white;
  padding: 0px 1vw 0px 1vw;
  font-size: 16px;
  margin-top: 4px;
  line-height: 16px;
}

.bar {
  z-index: 1;
  width: 75vw;
  border: 1px solid rgba(0,0,0,0.75);
  text-align: center;
  height: 2.5vh;
  line-height: 2.5vh;
  position: absolute;
  background: white;
}

.bar-left {
  left: 25px;
  top: 2px;
}


.bar-right {
  right: 25px;
  bottom: 6px;
}

.iconbar {
  position: relative;
  background: rgba(78,96,136,1);
  border-top: 1px solid rgba(255,255,255,0.1);
  /* border-bottom: 1px solid rgba(0,0,0,0.05); */
  height: 9vh;
  z-index: 10;
  margin: none;
  width: 100%;
}

.iconbar-icon {
  float: left;
  width: 25%;
  height: calc(9vh - 1px);
  text-align: center;
  line-height: 100%;
  font-size: 9vh;
  position: relative;
  border-top: 2px solid rgba(255,198,0,0);
}

.iconbar-icon-active {
  border-top: 2px solid rgba(255,198,0,1);
}

.iconbar-icon:active {
  border-top: 2px solid rgba(255,198,0,1);
}

.iconbar-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  object-fit: cover;
  height: 80%;
}

.iconbar-floating {
  float: left;
  width: 8vh;
  height: 8vh;
  border-radius: 90%;
  text-align: center;
  line-height: 100%;
  font-size: 9vh;
  opacity: 80%;
  position: absolute;
  right: 2.5vw;
  bottom: 10vh;
  background: rgba(78,96,136,1);
  border: 1px solid rgba(255,255,255,0.025);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
}
.iconbar-floating:active {
  filter: brightness(90%);
}

.buttonbar {
  margin: none;
  color: rgba(20,20,20,1);
  height: 19.5vh;
  width: 100vw;
  position: relative;
  background: rgba(63,85,136,1);
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

.buttonbar-tab {
  width: calc(100% / 3);
  float: left;
  line-height: 3vh;
  margin-top: 1vh;
  padding-top: 1vh;
  position: relative;
  background: rgba(63,85,136,1);
  height: 5.5vh;
}
.buttonbar-tab-active {
  border-bottom: .5vh solid rgba(255,198,0,1);
}

.big-circle {
  color: black;
  background: white;
  border: 1px solid rgba(0,0,0,0.75);
  border-radius: 90%;
  height: 10vh;
  width: 10vh;
  font-size: 9vh;
  line-height: 10vh;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}


.big-circle:active {
  filter: brightness(80%);
}

.databar-inner:active {
  filter: brightness(90%);
}
.buttonbar-tab:active {
  filter: brightness(90%);
}

.vote-popup {
  position: absolute;
  left: 5%;
  top: 10%;
  height: 90%;
  width: 90%;
  background: rgba(78,96,136,1);
  z-index: 10;
  border-top: 1px solid rgba(0,0,0,0.75);
  border-left: 1px solid rgba(0,0,0,0.75);
  border-right: 1px solid rgba(0,0,0,0.75);
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
  text-align: center;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  color: white;
  line-height: 22px;
  text-align: center;
}

#yes-popup-users-list {
  font-size: 16px;
}

#yes-button {
  line-height: 10vh;
  font-size: 9vh;
}
#no-button {
  line-height: 11vh;
  font-size: 10vh;
}

.big-circle-box {
  width: 33%;
  float: left;
  height: 10vh;
  position: relative;
}

.databar {
  position: relative;
  width: 100%;
  height: 6vh;
  float: left;
  color: white;
  text-align: center;
}

.databar-inner {
  position: relative;
  background: rgba(78,96,136,1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.75);
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: center;
  float: left;
}

.databar-active {
  height: 53.5vh;
}

.data-box {
  height: calc(63.5vh - 36px);
  background: rgba(63,85,136,1);
  padding: 1vh 1vw 1vh 1vw;
  overflow-y: auto;
  border-bottom: 1px solid rgba(0,0,0,0.75);
  float: left;
  width: 100%;
}

.data-box-bigger {
  height: 53.5vh!important;
}

.data-box-inactive {
  display: none;
}

.info-circle {
  border-radius: 90%;
  background: rgba(255,255,255,0.6);
  height: 23px;
  width: 23px;
  line-height: 25px;
  font-size: 20px;
  color: rgba(63,85,136,1);
  position: absolute;
  top: 5px;
  right: 15vw;
}

.arrow {
  position: absolute;
  color: rgba(255,255,255,0.6);
  height: 23px;
  width: 23px;
  line-height: 18px;
  font-size: 20px;
  top: 1.25vh;
  right: 3vw;
}

.chat-box {
  height: calc(100% - 6vh);
  border-bottom: 1px solid rgba(0,0,0,0.75);
  width: 100%;
  overflow-y: auto;
}
.chat-window {
  width: 100%;
  height: 6vh;
}

.comment {
  text-align: left;
  margin-bottom: 0px;
  padding: 4px 4px 4px 4px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.375);
}

.yes-comment {
  background: rgba(78, 136, 81, 1);
}
.no-comment {
  background: rgba(136, 78, 78, 1);
}

.voted-button {
  background: rgba(255,198,0,1);
}
.comment-icon {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 5px;
}


.search-box {
  border: 1px solid rgba(0,0,0,0.75);
  font-size: 14px;
  text-align: left;
  margin-bottom: 2vh;
  background: rgba(78,96,136,1);
}

.search-sub-box {
  max-height: 150px;
  overflow-y: auto;
}

.search-box-details {
  border-top: 2px solid rgba(255,198,0,1);;
  padding-top: 1vh;
  margin-bottom: 1vh;
  width: 96%;
  margin-left: 2%;
}

#opportunities {
  text-align: center;
  padding: 0px 2vw 0px 2vw;
}

.opportunities-title {
  border-bottom: 2px solid rgba(255,198,0,1);;
  padding: 2vh 0px 2vh 0px;
  margin-bottom: 2vh;
  font-size: 14px;
}

#identified {
  padding: 0px 2vw 0px 2vw;
}
.pipeline-title {
  text-align: center;
  border-top: 2px solid rgba(255,198,0,1);;
  padding: 2vh 0px 2vh 0px;
  margin-bottom: 2vh;
  font-size: 14px;
}

#search-terms-view {
  padding: 1vh 2vw 1vh 2vw;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}
